[submodule "external/pebble-firmware"]
	path = external/pebble-firmware
	url = https://github.com/iotexproject/pebble-apps.git
	branch = aries
[submodule "external/pebble-firmware-legacy"]
	path = external/pebble-firmware-legacy
	url = https://github.com/jrynkiew/pebble-firmware-legacy.git
