[submodule "dependencies/pebble-firmware"]
	path = dependencies/pebble-firmware
	url = https://github.com/iotexproject/pebble-firmware.git
[submodule "dependencies/pebble-apps"]
	path = dependencies/pebble-apps
	url = https://github.com/iotexproject/pebble-apps.git
